In [4]:
import os
from tpu_graphs.baselines.layout import data

In [16]:
data_root_dir = os.path.join(os.path.expanduser('~/data/tpugraphs/npz/layout'), 'xla', 'random')
cache_dir = os.path.join(os.path.expanduser('~/data/tpugraphs/npz/cache/layout'), 'xla', 'random')
num_configs = 1
dataset_partitions = data.get_npz_dataset(
      data_root_dir,
      min_train_configs=num_configs,
      max_train_configs=10,
      cache_dir=cache_dir)

sample_graph = dataset_partitions.train.get_item(0)

dataset cache file:  /root/data/tpugraphs/npz/cache/layout/xla/random/d514562f0c89ac4197fe116fb815f469-cache.npz
loaded from /root/data/tpugraphs/npz/cache/layout/xla/random/d514562f0c89ac4197fe116fb815f469-cache.npz
dataset cache file:  /root/data/tpugraphs/npz/cache/layout/xla/random/952b23d45d55278e3de8e0d26bca07ee-cache.npz
loaded from /root/data/tpugraphs/npz/cache/layout/xla/random/952b23d45d55278e3de8e0d26bca07ee-cache.npz
dataset cache file:  /root/data/tpugraphs/npz/cache/layout/xla/random/33cd65558644c3d95f8b38aa87878c1d-cache.npz
loaded from /root/data/tpugraphs/npz/cache/layout/xla/random/33cd65558644c3d95f8b38aa87878c1d-cache.npz

In [ ]:
sample_graph.edges.numpy()

array([[   2,    0],
       [   2,    1],
       [   5,    3],
       ...,
       [1109, 1099],
       [1109, 1108],
       [1110, 1109]], dtype=int32)

In [34]:
import pandas as pd

In [37]:
pd.DataFrame({'from_node_id': sample_graph.edges.numpy()[:,0], 'to_node_id': sample_graph.edges.numpy()[:,1]}).to_csv('edge_list.csv')

In [47]:
pd.DataFrame({'ops_codes': sample_graph.node_ops.numpy()}).reset_index().rename({'index':'node_id'}).to_csv('node_list.csv')

In [48]:
pd.DataFrame({'ops_codes': sample_graph.node_ops.numpy()}).reset_index().rename({'index':'node_id'})

      index  ops_codes
0         0         63
1         1         63
2         2         57
3         3         63
4         4         63
...     ...        ...
1106   1106         12
1107   1107          2
1108   1108         83
1109   1109         31
1110   1110        100

[1111 rows x 2 columns]

In [ ]:
from matplotlib import pylab
import networkx as nx

def save_graph(graph,file_name):
    #initialze Figure
    plt.figure(num=None, figsize=(20, 20), dpi=80)
    plt.axis('off')
    fig = plt.figure(1)
    pos = nx.spring_layout(graph)
    nx.draw_networkx_nodes(graph,pos)
    nx.draw_networkx_edges(graph,pos)
    nx.draw_networkx_labels(graph,pos)

    cut = 1.00
    xmax = cut * max(xx for xx, yy in pos.values())
    ymax = cut * max(yy for xx, yy in pos.values())
    plt.xlim(0, xmax)
    plt.ylim(0, ymax)

    plt.savefig(file_name,bbox_inches="tight")
    pylab.close()
    del fig

#Assuming that the graph g has nodes and edges entered
save_graph(g,"my_graph.pdf")